body {
	background-color: #EDEDED !important;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

section {
	padding-top: 70px;
	padding-bottom: 70px;
}

.uppercase{
	text-transform: uppercase;
}

section hr {
  width: 40px;
	margin-top: 10px;
	opacity: 0.5;
}

/*header*/
header{
	height:100vh ;
}
@media {
	.alto{
		bottom: 298px;
		height: 107vh;
		width: 100%;
			}
}

@media (min-width: 320px){
	.image{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url(../img/bg.jpg);
		background-size:215% 148vh;
		background-repeat: no-repeat;
		background-position: center;
	}
}

@media (min-width: 768px){
	.image{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 29px;
		background-image: url(../img/bg.jpg);
		background-size: 100% 100vh;
		background-repeat: no-repeat;
		background-position: center;
	}
}

@media (min-width: 601px){
	.image{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 29px;
		background-image: url(../img/bg.jpg);
		background-size: 108% 100vh;
		background-repeat: no-repeat;
		background-position: center;
	}
}
/*about me*/
.text-mini p, .text-mini li {
	text-align: left;
	font-size: 15px;
}
.min-small{
	max-width: 28% !important;
	height: auto !important;
}
.largo{
	width: 100%;
	margin-bottom: 0;
}

/*Portafolio*/
.row-portfolio .col .s4{
	padding: 0;
}

/*contact*/
.semibold-font * {
	font-weight: 500;
}
