body, html {
	background-color: #EDEDED !important;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#contact {
	margin-top: 70px;
	margin-bottom: 70px
}

.semibold-font * {
	font-weight: 500;
}
